<br>
<div  class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="card col-sm-10">
        <h5 class=" text-center"><u><i> Benefit Summary</i></u></h5>
        
       <div class="card-body">   
              <div class="row">
                  <div class="col-sm-6" >
                 <p> <b>Member's Last Name:</b> {{resJSON.patient_last}}</p>
                 <p> <b>Member's First Name:</b> {{resJSON.patient_first}}</p>
                 <p> <b>Phone Number:</b> {{resJSON.phone_number}}</p>
                 <p> <b>Member's DOB:</b> {{resJSON.patient_dob}}</p>
                
          </div>
          <div class="col-sm-6" >
              <p> <b>Member's I.D Number:</b> {{resJSON.subscriber_id}}</p>
              <p> <b>Group Number:</b> {{resJSON.group_number}}</p>
              <p> <b>Risk bearing entity's Address:</b> {{resJSON.subscriber_address}}</p>
              <p> <b>Email:</b> {{resJSON.email}}</p>
       </div>
        </div>
        </div>
        <div class="card-body">
                <table>
                    <tr>
                        <td>Routine/Preventative Care</td>
                        <td id="ip2">${{resJSON.routine_preventative_care}}(covered 100%)</td>
                      </tr>
                      <tr>
                          <td >Office Visit Copay</td>
                          <td id="ip2">${{resJSON.office_visit_copay.replace(".00", "")}}</td>
                      </tr>
                      <tr>
                          <td>Specialist Copay</td>
                          <td id="ip2">${{resJSON.specialist_copay.replace(".00", "")}}</td>
                      </tr>
                      <tr>
                          <td>Urgent Care Pay</td>
                          <td id="ip2">${{resJSON.urgent_care_copay.replace(".00", "")}}</td>
                      </tr>
                </table>
                <br>
                <b>PAR Benefits</b>
                <hr>
        <div class="card-body">
               
                <div class="row">
                     
                        
                        <div class="col-md-6">
                                <h6>Individual's Deductible</h6>
                                <h5> $300 of ${{resJSON.max_deductible_par_single.replace(".00", "")}} Spent</h5>
                                <mat-progress-bar max="100" mode="determinate" value="75"></mat-progress-bar>
                                <div class="row">
                                    <div class="col-md-2">$0.00</div>
                                    <div class="col-md-7"></div>
                                    <div class="col-md-3">$500.00</div>
                                </div>
                                </div>
                                <div class="vl"></div>
                    <div class="col-md-6">
                            <h6>Individual's Out-Of-Pocket</h6>
                            <h5> $300 of ${{resJSON.max_oop_par_single.replace(".00", "")}} Spent</h5>
                            <mat-progress-bar max="100" mode="determinate" value="10"></mat-progress-bar>
                            <div class="row">
                                <div class="col-md-2">$0.00</div>
                                <div class="col-md-7"></div>
                                <div class="col-md-3">$8000.00</div>
                            </div>
                           
                            </div>
                </div>
                <br>
                <div class="row">
                     
                        
                        <div class="col-md-6">
                                <h6>Family's Deductible Max</h6>
                                <h5> $800 of ${{resJSON.max_deductible_par_family.replace(".00", "")}} Spent</h5>
                                <mat-progress-bar max="100" mode="determinate" value="66"></mat-progress-bar>
                                <div class="row">
                                    <div class="col-md-2">$0.00</div>
                                    <div class="col-md-7"></div>
                                    <div class="col-md-3">${{resJSON.max_deductible_par_family.replace(".00", "")}}</div>
                                </div>
                                </div>
                                <div class="vl"></div>
                    <div class="col-md-6">
                            <h6>Family's Out-Of-Pocket Max</h6>
                            <h5>$800 of ${{resJSON.max_oop_par_family.replace(".00", "")}} Spent</h5>
                            <mat-progress-bar max="100" mode="determinate" value="14"></mat-progress-bar>
                            <div class="row">
                                <div class="col-md-2">$0.00</div>
                                <div class="col-md-7"></div>
                                <div class="col-md-3">${{resJSON.max_oop_par_family.replace(".00", "")}}</div>
                            </div>
                           
                            </div>
                </div>
                
                  </div>
                  <br>
                  <b>NON-PAR Benefits</b>
                  <hr>
                  <div class="card-body">
               
                        <div class="row">
                             
                                
                                <div class="col-md-6">
                                        <h6>Individual's Deductible</h6>
                                        <h5> $100 of ${{resJSON.max_deductible_non_par_single.replace(".00", "")}}  Spent</h5>
                                        <mat-progress-bar max="100" mode="determinate" value="17"></mat-progress-bar>
                                        <div class="row">
                                            <div class="col-md-2">$0.00</div>
                                            <div class="col-md-7"></div>
                                            <div class="col-md-3">${{resJSON.max_deductible_non_par_single.replace(".00", "")}}</div>
                                        </div>
                                        </div>
                                        <div class="vl"></div>
                            <div class="col-md-6">
                                    <h6>Individual's Out-Of-Pocket</h6>
                                    <h5>$100 of ${{resJSON.max_oop_non_par_single.replace(".00", "")}} Spent</h5>
                                    <mat-progress-bar max="100" mode="determinate" value="0.016"></mat-progress-bar>
                                    <div class="row">
                                        <div class="col-md-2">$0.00</div>
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">{{resJSON.max_oop_non_par_single.replace(".00", "")}}</div>
                                    </div>
                                   
                                    </div>
                        </div>
                        <br>
                        <div class="row">
                             
                                
                                <div class="col-md-6">
                                        <h6>Family's Deductible</h6>
                                        <h5>$200 of ${{resJSON.max_deductible_non_par_family.replace(".00", "")}} Spent</h5>
                                        <mat-progress-bar max="100" mode="determinate" value="12"></mat-progress-bar>
                                        <div class="row">
                                            <div class="col-md-2">$0.00</div>
                                            <div class="col-md-7"></div>
                                            <div class="col-md-3">${{resJSON.max_deductible_non_par_family.replace(".00", "")}}</div>
                                        </div>
                                        </div>
                                        <div class="vl"></div>
                            <div class="col-md-6">
                                    <h6>Family's Out-Of-Pocket Max</h6>
                                    <h5>$200 of ${{resJSON.max_oop_non_par_family.replace(".00", "")}} Spent</h5>
                                    <mat-progress-bar max="100" mode="determinate" value="0.016"></mat-progress-bar>
                                    <div class="row">
                                        <div class="col-md-2">$0.00</div>
                                        <div class="col-md-7"></div>
                                        <div class="col-md-3">${{resJSON.max_oop_non_par_family.replace(".00", "")}}</div>
                                    </div>
                                   
                                    </div>
                        </div>
                        
                          </div>
                          &nbsp;&nbsp;
                          <button   mat-raised-button (click)="back()">Close</button>
                  </div>
                 
        </div>
        
    </div>
</div>
</div>