<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
            <img src="./assets/claims.png"/>&nbsp;
            <div class="navbar-header" >
                Provider Claims Processor
            </div> 
            <div class="navbar-collapse collapse justify-content-center order-1" id="collapsingNavbar">
    <ul class="navbar-nav">
      <li class="nav-item " > 
        <a class="nav-link" id="ip3" routerLink="/userprofile" routerLinkActive="active">
          <i class="fab fa-facebook" >Verify Eligibility</i></a>
      </li>
      <li >
       <a class="nav-link">
      <i class="material-icons">
          double_arrow</i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="ip3"routerLinkActive="active"><i>Claim Submission</i></a>
      </li>
     
    </ul>
    </div>
  </nav>
  