<!-- <div class="container-fluid">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="card col-sm-8">
                    <h5 class="text-center"><i>LogIn As</i></h5>
                <div class="row">
                        <div class="col-sm-6">
                                <div class="card selector" [routerLink]="['/login','member']">
                                    <div class="card-body">
                                        <h5 class="card-title">Member</h5>
                                        <hr>
                                        <p class="card-text">Verify Member benefits, your employer plans, profile update etc....</p>
                                    </div>
                                </div>
                            </div>
                       
                            <div class="col-sm-6">
                                    <div class="card selector" [routerLink]="['/login','provider']">
                                        <div class="card-body">
                                            <h5 class="card-title">Provider</h5>
                                            <hr>
                                            <p class="card-text">Verify Member eligibility,Submit Services for Payments,Collect Member payments etc..</p>
                                        </div>
                                    </div>
                                </div>
                    
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card selector" [routerLink]="['/login','employer group']">
                            <div class="card-body">
                                <h5 class="card-title">Employer group</h5>
                                <hr>
                                <p class="card-text">Verify offered products, list of insurers, profile update etc....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                            <div class="card selector" [routerLink]="['/login','Risk Bearing Entity']">
                                <div class="card-body">
                                    <h5 class="card-title">Risk Bearing Entity </h5>
                                    <hr>
                                    <p class="card-text">Register employee groups,employee groups summary,Offered products,profile update etc..</p>
                                </div>
                            </div>
                        </div>
                   
                    
                </div>
            </div>
        </div>
    </div>
</div> -->





<!-- gdthfguugdtsesrdfugdtjrhgefu,uketdyjugkfyrdtuyituryetrtuyjuiryetwrestfug,fhdgsrytujetw4retsyr -->
<div  class="container-fluid">
        <div class="main-content">
                <div class="relative">
                        <div class="row">
                                <div class="col-sm-3">
                                        <div class="card selector" style="width: 18rem; height:10rem" [routerLink]="['/login','member']">
                                            <div class="card-body card-block d-flex" style="height: 120px">
                                                    <div class="card-body align-items-center d-flex justify-content-center">
                                                    <h4 class="card-title">Member</h4>
                                                    </div>
                                                    
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                            <div class="card selector" style="width: 18rem; height:10rem" [routerLink]="['/newlogin']">
                                                <div class="card-body card-block d-flex" style="height: 120px">
                                                    <div class="card-body align-items-center d-flex justify-content-center">
                                                    <h4 class="card-title" style="top:50%">Provider</h4>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                                <div class="card selector" style="width: 18rem; height:10rem" [routerLink]="['/login','employer group']">
                                                    <div class="card-body card-block d-flex" style="height: 120px">
                                                            <div class="card-body align-items-center d-flex justify-content-center">
                                                            <h4 class="card-title">Employer group</h4>
                                                            </div>
                                                            
                                                        </div>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                    <div class="card selector" style="width: 18rem; height:10rem" [routerLink]="['/login','Risk Bearing Entity']">
                                                        <div class="card-body card-block d-flex" style="height: 120px">
                                                                <div class="card-body   align-items-center d-flex justify-content-center">
                                                                <h4 class="card-title">Risk Bearing Entity</h4>
                                                                </div>
                                                                
                                                            </div>
                                                    </div>
                                                </div>


                </div>
            </div>
            </div>
</div>
            