/* .div{
    min-height: 3000%;
    background : url('../assets/claimsImageCopy1.jpg');
    
} */
/* .div{
    background : url('./../assets/claimsImageCopy1.jpg');
    background-color:red 
}
:host(.active) {
    background-color:red
  } */