<br>
<div class="container-fluid">
<div class="main-content" >
        <div class="row">
            <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <div class="card" >
          
          <div class="card-header text-center">
            <h5 class="title"><i>Update Profile</i></h5>
          </div>
          <div class="card-body">
                  <h5 id="error" *ngIf="loading"class="title text-center"><i>Error</i></h5>
               
              <div class="row">
                <div class="col-sm-6 ">
                  <div >
                    <label>Member's Last Name</label>
                    <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                    <input type="text"  [(ngModel)]="this.details.member_lastname" id="ip3"class="form-control" placeholder="Last Name">
                  </div>
                </div>
                <div class="col-sm-6 ">
                  <div class="form-group">
                    <label>Member's First Name</label>
                    <input type="text"   [(ngModel)]="this.details.member_firstname"  id="ip3" class="form-control" placeholder="First Name" value="Group Number">
                  </div>
                </div>
                <!-- <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                  </div>
                </div> -->
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <div >
                      <label>Employer Group </label>
                      <input type="text" [(ngModel)]="this.details.emp_grp"  id="ip4" class="form-control" placeholder="Employer Group" >
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div>
                      <label>Employer Id</label>
                      <input type="text" [(ngModel)]="this.details.emp_id"  id="ip4" class="form-control" placeholder="Employer ID" >
                    </div>
                  </div>
                  
                </div>
                <br>
              <div class="row">
                <div class="col-sm-6 ">
                  <div >
                    <label>Email</label>
                    <input type="text" [(ngModel)]="this.details.email" id="ip4" class="form-control" placeholder=" Email" >
                  </div>
                </div>
                
                <div class="col-sm-6">
                  <div>
                    <label>Phone</label>
                    <input type="text"  [(ngModel)]="this.details.phone_number" id="ip4" class="form-control" placeholder="Phone Number" >
                  </div>
                </div>
                
              </div>
              <br>
              <div class="row">
                  <div class="col-sm-4">
                    <div >
                        <label>Member DOB</label>
                      <mat-form-field>
                        <input matInput [(ngModel)]="this.details.dob"  [matDatepicker]="picker1"  placeholder="MM/DD/YY">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-sm-4">
                        <div>
                          <label>Gender</label>
                          <input type="text"  [(ngModel)]="this.details.patient_gender" id="ip4" class="form-control" placeholder="gender" >
                        </div>
                      </div>
                      <div class="col-md-4">
                          <div>
                            <label>SSN</label>
                            <input  type="password"  [(ngModel)]="this.details.ssn" id="ip4" class="form-control" placeholder="ssn" >
                          </div>
                        </div>
                    
                </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Member's Address Line 1:</label>
                    <input type="text"[(ngModel)]="this.details.address_1" id="ip2"  class="form-control" placeholder="Street and number" >
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Member's Address Line 2:</label>
                      <input type="text" id="ip2" [(ngModel)]="this.details.address_2"  class="form-control" placeholder="Apartment, Suite, unit, building, floor, etc">
                    </div>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-4 pr-1">
                  <div class="form-group">
                    <label>City</label>
                    <input [(ngModel)]="this.details.city" type="text" id="ip2" class="form-control" placeholder="City" value="">
                  </div>
                </div>
                <div class="col-md-4 px-1">
                  <div class="form-group">
                    <label>State</label>
                    <input [(ngModel)]="this.details.county" type="text" id="ip2" class="form-control" placeholder="State" value="">
                  </div>
                </div>
                <div class="col-md-4 pl-1">
                  <div class="form-group">
                    <label>ZIP Code</label>
                    <input type="number" [(ngModel)]="this.details.zip" id="ip2" class="form-control" placeholder="ZIP Code">
                  </div>
                </div>
              </div> 
              <h5 class="text-center"><i>Bank Details</i></h5>
              <hr>
              <div class="row">
                    <div class="col-md-4 ">
                      <div >
                        <label>Bank Name</label>
                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                        <input type="text"  [(ngModel)]="this.details.bank_name" id="ip3"class="form-control" placeholder="Bank Name">
                      </div>
                    </div>
                    <div class="col-md-4 ">
                      <div class="form-group">
                        <label>Bank Number</label>
                        <input type="text"   [(ngModel)]="this.details.bank_number"  id="ip3" class="form-control" placeholder="Bank Number" >
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label>Routing Number</label>
                          <input type="text"   [(ngModel)]="this.details.routing_number"  id="ip3" class="form-control" placeholder="Routing number" >
                        </div>
                      </div>
                    <!-- <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                      </div>
                    </div> -->
                    </div>
              <h5 class="text-center"><i>ADD Dependent</i></h5>
              <hr>
              <div class="row">
                    <div class="col-md-4 ">
                      <div >
                        <label>Dependents's Last Name</label>
                        <!-- <input type="text" class="form-control" disabled="" placeholder="Company" value="Creative Code Inc."> -->
                        <input type="text"  [(ngModel)]="this.details.dependent_lastname" id="ip3"class="form-control" placeholder="Dependents's Last Name">
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <div class="form-group">
                        <label>Dependents's First Name</label>
                        <input type="text"   [(ngModel)]="this.details.dependent_firstname"  id="ip3" class="form-control" placeholder="Dependents's First Name" value="Group Number">
                      </div>
                    </div>
                    <!-- <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" id="email" type="email" class="form-control" placeholder="Email">
                      </div>
                    </div> -->
                  </div>
                  <div class="row">
                        <div class="col-md-4">
                          <div >
                              <label>Dependents's DOB</label>
                            <mat-form-field>
                              <input [(ngModel)]="this.details.dependent_dob" matInput  [matDatepicker]="picker"  placeholder="MM/DD/YY">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                        <div class="col-md-6">
                              <div>
                                <label>Gender</label>
                                <input  type="text"  [(ngModel)]="this.details.dependent_gender" id="ip4" class="form-control" placeholder="gender" >
                              </div>
                            </div>
                            
                          
                      </div>
            <div  class="row" >
                <div  class="col-sm-4" ></div>
           <div  class="col-sm-6" >
            <button mat-raised-button (click)="back()"><i>Back</i></button> &nbsp;
            <button mat-raised-button (click)="update()"><i>Update</i></button>  &nbsp;
           </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
<ng4-loading-spinner [timeout]="99000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>