<div *ngIf="this.selectedId=='member'" class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="card col-sm-8">
                    <h5 class="text-center"><i>Choose your Activity</i></h5>
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="card selector" [routerLink]="['/memberprofile']">
                                        <div class="card-body">
                                            <h5 class="card-title">My Profile</h5>
                                            <hr>
                                            <p class="card-text">Register employee groups, Summary of employee groups, Verify Offered products, profile update etc...</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                        <div class="card selector" [routerLink]="['/benefits']">
                                            <div class="card-body">
                                                <h5 class="card-title">Benefits Summary</h5>
                                                <hr>
                                                <p class="card-text">Verify Member eligibility,Submit Services for Payments,Collect Member payments,profile update etc...</p>
                                            </div>
                                        </div>
                                    </div>  
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card selector" [routerLink]="['/yourplans']">
                                <div class="card-body">
                                    <h5 class="card-title">Select Health Plans</h5>
                                    <hr>
                                    <p class="card-text">Verify offered products, list of insurers, profile update etc....</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                                <div class="card selector" [routerLink]="['/viewidcard']">
                                    <div class="card-body">
                                        <h5 class="card-title">View ID Cards</h5>
                                        <hr>
                                        <p class="card-text">Verify Member benefits, your employer plans, profile update etc....</p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---provider -->
    <div *ngIf="this.selectedId=='provider'" class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="card col-sm-8">
                            <h5 class="text-center"><i>Choose your Activity</i></h5>
                        <div class="row">
                                <div class="col-sm-6">
                                        <div class="card selector">
                                            <div class="card-body">
                                                <h5 class="card-title">My Profile</h5>
                                                <hr>
                                                <p class="card-text">Register employee groups, Summary of employee groups, Verify Offered products, profile update etc...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                            <div class="card selector" [routerLink]="['/userprofile']">
                                                <div class="card-body">
                                                    <h5 class="card-title">Verify Member eligiblity</h5>
                                                    <hr>
                                                    <p class="card-text">Verify Member eligibility,Submit Services for Payments,Collect Member payments,profile update etc...</p>
                                                </div>
                                            </div>
                                        </div>        
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card selector" [routerLink]="['/claimsubmission']">
                                    <div class="card-body">
                                        <h5 class="card-title">Submit services for payment</h5>
                                        <hr>
                                        <p class="card-text">Verify offered products, list of insurers, profile update etc....</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div class="card selector" [routerLink]="['/login']">
                                        <div class="card-body">
                                            <h5 class="card-title">Contact Risk Bearing Entity</h5>
                                            <hr>
                                            <p class="card-text">Verify Member benefits, your employer plans, profile update etc....</p>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- employer group -->
<div *ngIf="this.selectedId=='employer group'" class="container-fluid">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="card col-sm-8">
                        <h5 class="text-center"><i>Choose your Activity</i></h5>
                    <div class="row">
                            <div class="col-sm-6">
                                    <div class="card selector" [routerLink]="['/login','Insurance payers']">
                                        <div class="card-body">
                                            <h5 class="card-title">My Profile</h5>
                                            <hr>
                                            <p class="card-text">Register employee groups, Summary of employee groups, Verify Offered products, profile update etc...</p>
                                        </div>
                                    </div>
                                </div>
                                        <div class="col-sm-6">
                                            <div class="card selector" [routerLink]="['/login','employer group']">
                                                <div class="card-body">
                                                    <h5 class="card-title">Your Plans</h5>
                                                    <hr>
                                                    <p class="card-text">Verify offered products, list of insurers, profile update etc....</p>
                                                </div>
                                            </div>
                                        </div>   
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                                <div class="card selector" [routerLink]="['/login','member']">
                                    <div class="card-body">
                                        <h5 class="card-title">Upload Employer data</h5>
                                        <hr>
                                        <p class="card-text">Verify Member benefits, your employer plans, profile update etc....</p>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- insurance payer -->
    <div *ngIf="this.selectedId=='Insurance payers'" class="container-fluid">
            <div class="main-content">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="card col-sm-8">
                            <h5 class="text-center"><i>Choose your Activity</i></h5>
                        <div class="row">
                                <div class="col-sm-6">
                                        <div class="card selector" [routerLink]="['/login','Insurance payers']">
                                            <div class="card-body">
                                                <h5 class="card-title">My Profile</h5>
                                                <hr>
                                                <p class="card-text">Register employee groups, Summary of employee groups, Verify Offered products, profile update etc...</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                            <div class="card selector" [routerLink]="['/login','provider']">
                                                <div class="card-body">
                                                    <h5 class="card-title">Register employer groups</h5>
                                                    <hr>
                                                    <p class="card-text">Verify Member eligibility,Submit Services for Payments,Collect Member payments,profile update etc...</p>
                                                </div>
                                            </div>
                                        </div>        
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card selector" [routerLink]="['/login','employer group']">
                                    <div class="card-body">
                                        <h5 class="card-title">View employer groups</h5>
                                        <hr>
                                        <p class="card-text">Verify offered products, list of insurers, profile update etc....</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                    <div class="card selector" [routerLink]="['/login','member']">
                                        <div class="card-body">
                                            <h5 class="card-title">View products</h5>
                                            <hr>
                                            <p class="card-text">Verify Member benefits, your employer plans, profile update etc....</p>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
