<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style=" font-size: 1.25rem;" href="#">Dashboard</a>
            </li>
            <li class="nav-item active">
                    <a class="nav-link" style=" font-size: 1.25rem;" href="#">Verify </a>
                  </li>
            <li class="nav-item active">
                        <a class="nav-link" style=" font-size: 1.25rem;" href="#">Submit </a>
                      </li>
            <li class="nav-item active">
                            <a class="nav-link" style=" font-size: 1.25rem;" href="#">Scan QR</a>
                          </li>  
                          <li class="nav-item active">
                                <a class="nav-link" style=" font-size: 1.25rem;" href="#">Contact Customer Care</a>
                              </li>    
                          </ul>       
        </div>
      </nav> -->
      <!-- <div style="padding:20px; background-color: rgba(243,244,248,1); position: absolute; top:0; bottom: 0; height: 100%;z-index: 0; padding-top: 85px; width:100%"></div> -->
      <mat-tab-group  style="background-color:rgba(243,244,248,1);;

      /* Full height */
      height: 100%; 
      
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;" [selectedIndex]="selectedIndex" (selectedTabChange)="tabClick($event)">
            <mat-tab label="Dashboard"> <app-dashboard (voted)="onVoted($event)"></app-dashboard></mat-tab>
            <mat-tab label="Verify Member Eligibility"  > <app-scanner (valueQR)="qrReading($event)" ></app-scanner >
            <app-memberdetails [isScanned]="isScanned"></app-memberdetails> 
          </mat-tab>
            <mat-tab label="Submit Services" > 
               <app-claimsubmission > </app-claimsubmission></mat-tab>
            <!-- <mat-tab label="{{data | date : 'yyyy-MM-dd'}}"> </mat-tab> -->
            <mat-tab label="My Profile"></mat-tab>
            <mat-tab label="Payments"> <app-new-payments></app-new-payments></mat-tab>
            <mat-tab disabled></mat-tab>
            <mat-tab disabled></mat-tab>
          </mat-tab-group>
          <!-- </div> -->
        