
      <div  class="container-fluid">
            <div class="main-content">
                <div class="row">      
                    <div class="col-sm-2"></div>
                    <div class="card col-sm-8">
                        <!-- <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <img src="assets\healthcare-icon-png-4.jpg" alt="Avatar">
                                  </div>
                                  <div class="flip-card-back">  
                                    <div class="wrapper">
                                            <button mat-raised-button (click)="getProviderDetails()"><i>Submit</i></button>
                                        </div>
                                  </div>
                                </div>
                              </div> -->
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-sm-6">
                                      <button  mat-raised-button (click)="onNoClick()">Back</button>
                                      </div>
                                      <!-- <p><i>Do you want to send this to your email?<button (click)="send()" style="align-content: flex-start;"><i>Click Here!</i></button>
                                      </i></p> -->
                                    </div>
                                    </div>
                             <div class="card-body">
                              <div class="row">
                                      <div class="col-sm-6">
                                            &nbsp;&nbsp;&nbsp;&nbsp;   &nbsp; <img  style="width:100%"src="assets\front.png" alt="Avatar"><br>
                                            <p style="text-align: center;">Front</p>
                                          </div>
                                     
                                          <div class="col-sm-6">
                                                &nbsp; <img  style="width:100%"src="assets\back.png" alt="Avatar"><br>
                                                <p style="text-align: center;">Back</p>
                                              </div>
                                               
                                      
                                  
                              </div>
                              <div class="card-body">
                                  <div class="row">
                                      <div class="col-sm-4">
                                         
                                         
                                        </div>
                                        <div class="col-sm-6">
                                            Do you want to send this to your email? 
                                        </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-5"></div>
                                            <div class="col-sm-5">
                                               <button mat-raised-button (click)="send()"><i>Click Here!</i></button>
                                              </div>
                                              </div>
                                        </div>
                             
                              </div>
                    </div>
                </div>
            </div>
        </div>