                                <!-- member -->
<div  *ngIf="this.selectedId=='member'" class="container-fluid">
    <div  class="main-content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="card col-sm-6">
                <div>
                    <div>
                        <div class="card-body">
                                <h5 class="title text-center"><i>Profile Information</i></h5>
                            <form [formGroup]="signUpForm">
                                <div class="example-container">  
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>FIRST NAME</mat-label>
                                        <input matInput formControlName="member_firstname">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>LAST NAME</mat-label>
                                        <input matInput formControlName="member_lastname">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>EMPLOYER GROUP</mat-label>
                                        <input matInput formControlName="emp_grp">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-6">
                                        <mat-label>EMPLOYEE ID</mat-label>
                                        <input matInput type="password" formControlName="emp_Id">
                                    </mat-form-field>
                                    
                                    <mat-form-field class="col-sm-8">
                                        <mat-label>PHONE NUMBER</mat-label>
                                        <input matInput  formControlName="phone_number">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-4">
                                        <mat-label>DATE OF BIRTH</mat-label>
                                        <input matInput formControlName="dob" [matDatepicker]="picker"  placeholder="MM/DD/YY">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12">
                                            <mat-label>EMAIL</mat-label>
                                            <input matInput  formControlName="email">
                                        </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="card-body">
                                <h5 class="title text-center"><i>Create New Account credentials</i></h5>
                                <form [formGroup]="signUpForm">
                                    <div class="example-container">
                                        <mat-form-field [color]="primary" class="col-sm-6">
                                            <mat-label>USERNAME</mat-label>
                                            <input matInput formControlName="username">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6">
                                            <mat-label>PASSWORD</mat-label>
                                            <input matInput type="password" formControlName="password">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-9">
                                                <mat-label>Security Question</mat-label>
                                                <mat-select formControlName="question">
                                                  <mat-option *ngFor="let question of questions" [value]="question">
                                                    {{question}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <mat-form-field class="col-sm-3">
                                                    <mat-label>ANSWER</mat-label>
                                                    <input matInput formControlName="answer">
                                                </mat-form-field>
                                    </div>
                                </form>
                                <div class="card-footer">   
                                       <p> By checking the box below, you agree that Shop Systems Corporation ("Shop"), a company based in the United States of America, may control and process your UserWeb data for the purposes described in the UserWeb Privacy Policy. The types of data collected as you access the UserWeb or UserWeb-connected sites are listed in the UserWeb Privacy Policy. If you do not wish to consent to such data control and processing, please reach out to your Shop representative for assistance.
                                        You are not legally or contractually obligated to provide your UserWeb data to Shop. Even if you give your consent by checking this box, you may later withdraw your consent by emailing Shop at userwebsupport@shop.com. If you do not give your consent to use of your UserWeb data, or you withdraw your consent, you may not be able to use the UserWeb or UserWeb-connected sites.
                         </p>
                         <input style="position:center"type="checkbox" > I agree to these terms.
                                </div>
                                <br>
                                <button mat-raised-button (click)="signUp()" class="col-sm-12"><i>Submit</i></button>&nbsp;&nbsp;
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>                                                           <!-- provider -->
<div *ngIf="this.selectedId =='provider'" class="container-fluid">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="card col-sm-6">
                <div>
                    <div>
                        <h5 class="title text-center"><i>Profile Information</i></h5>
                        <div class="card-body">
                            <form [formGroup]="signUpForm">
                                <div class="example-container">  
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>COMPANY NAME</mat-label>
                                        <input matInput formControlName="company_name">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>TAX ID</mat-label>
                                        <input matInput formControlName="tax_id">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>NPI(if applicable)</mat-label>
                                        <input matInput formControlName="npi">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-6">
                                        <mat-label>STATE</mat-label>
                                        <input matInput type="password" formControlName="state">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-8">
                                        <mat-label>SPECIALITY</mat-label>
                                        <input matInput  formControlName="speciality">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-4">
                                        <mat-label>PHONE NUMBER</mat-label>
                                        <input matInput  formControlName="phone_number">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="card-body">
                                <h5 class="title text-center"><i>Create New Account credentials</i></h5>
                                <form [formGroup]="signUpForm">
                                    <div class="example-container">
                                        <mat-form-field [color]="primary" class="col-sm-6">
                                            <mat-label>USERNAME</mat-label>
                                            <input matInput formControlName="username">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6">
                                            <mat-label>PASSWORD</mat-label>
                                            <input matInput type="password" formControlName="password">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-9">
                                                <mat-label>Security Question</mat-label>
                                                <mat-select formControlName="question">
                                                  <mat-option *ngFor="let question of questions" [value]="question">
                                                    {{question}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <mat-form-field class="col-sm-3">
                                                    <mat-label>ANSWER</mat-label>
                                                    <input matInput formControlName="answer">
                                                </mat-form-field>
                                    </div>
                                </form>
                                <div class="card-footer">
                                        
                                        <p> By checking the box below, you agree that Shop Systems Corporation ("Shop"), a company based in the United States of America, may control and process your UserWeb data for the purposes described in the UserWeb Privacy Policy. The types of data collected as you access the UserWeb or UserWeb-connected sites are listed in the UserWeb Privacy Policy. If you do not wish to consent to such data control and processing, please reach out to your Shop representative for assistance.
                                                You are not legally or contractually obligated to provide your UserWeb data to Shop. Even if you give your consent by checking this box, you may later withdraw your consent by emailing Shop at userwebsupport@shop.com. If you do not give your consent to use of your UserWeb data, or you withdraw your consent, you may not be able to use the UserWeb or UserWeb-connected sites.
                                 </p>
                                 <input style="position:center"type="checkbox" > I agree to these terms.
                                </div>
                                <br>
                                <button mat-raised-button (click)="signUp()" class="col-sm-12"><i>Submit</i></button>&nbsp;&nbsp;
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                                                  <!-- employee group -->
 <div *ngIf="this.selectedId=='employer group'" class="container-fluid">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="card col-sm-6">
                <div>
                    <div>
                        <h5 class="title text-center"><i>Profile Information</i></h5>
                        <div class="card-body">
                            <form [formGroup]="signUpForm">
                                <div class="example-container">  
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>COMPANY NAME</mat-label>
                                        <input matInput formControlName="company_name">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>TAX ID</mat-label>
                                        <input matInput formControlName="tax_id">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>STATE</mat-label>
                                        <input matInput formControlName="state">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-6">
                                            <mat-label>PHONE NUMBER</mat-label>
                                            <input matInput  formControlName="phone_number">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-8">
                                                <mat-label>BENEFITS OFFERED</mat-label>
                                                <input matInput  formControlName="benefits_offered">
                                            </mat-form-field>
                                    <mat-form-field class="col-sm-4">
                                        <mat-label>GROUP SIZE</mat-label>
                                        <input matInput type="password" formControlName="grp_size">
                                    </mat-form-field>
                                    
                                    
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="card-body">
                                <h5 class="title text-center"><i>Create New Account credentials</i></h5>
                                <form [formGroup]="signUpForm">
                                    <div class="example-container">
                                        <mat-form-field [color]="primary" class="col-sm-6">
                                            <mat-label>USERNAME</mat-label>
                                            <input matInput formControlName="username">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6">
                                            <mat-label>PASSWORD</mat-label>
                                            <input matInput type="password" formControlName="password">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-9">
                                                <mat-label>Security Question</mat-label>
                                                <mat-select formControlName="question">
                                                  <mat-option *ngFor="let question of questions" [value]="question">
                                                    {{question}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <mat-form-field class="col-sm-3">
                                                    <mat-label>ANSWER</mat-label>
                                                    <input matInput formControlName="answer">
                                                </mat-form-field>
                                    </div>
                                </form>
                                <div class="card-footer">
                                        <p>By checking the box below, you agree that Shop Systems Corporation ("Shop"), a company based in the United States of America, may control and process your UserWeb data for the purposes described in the UserWeb Privacy Policy. The types of data collected as you access the UserWeb or UserWeb-connected sites are listed in the UserWeb Privacy Policy. If you do not wish to consent to such data control and processing, please reach out to your Shop representative for assistance.
                                                You are not legally or contractually obligated to provide your UserWeb data to Shop. Even if you give your consent by checking this box, you may later withdraw your consent by emailing Shop at userwebsupport@shop.com. If you do not give your consent to use of your UserWeb data, or you withdraw your consent, you may not be able to use the UserWeb or UserWeb-connected sites.
                                 </p>
                                 <input style="position:center"type="checkbox" > I agree to these terms.
                                </div>
                                <br>
                                <button mat-raised-button (click)="signUp()" class="col-sm-12"><i>Submit</i></button>&nbsp;&nbsp;
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                                                  <!-- insurance payers -->
 <div *ngIf="this.selectedId=='Insurance payers'" class="container-fluid">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="card col-sm-6">
                <div>
                    <div>
                        <h5 class="title text-center"><i>Profile Information</i></h5>
                        <div class="card-body">
                            <form [formGroup]="signUpForm">
                                <div class="example-container">  
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>COMPANY NAME</mat-label>
                                        <input matInput formControlName="company_name">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>TAXID</mat-label>
                                        <input matInput formControlName="tax_id">
                                    </mat-form-field>
                                    <mat-form-field [color]="primary" class="col-sm-6">
                                        <mat-label>STATE</mat-label>
                                        <input matInput formControlName="state">
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-6">
                                        <mat-label>EMAIL</mat-label>
                                        <input matInput  formControlName="email">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                        <hr>
                        <div class="card-body">
                                <h5 class="title text-center"><i>Create New Account credentials</i></h5>
                                <form [formGroup]="signUpForm">
                                    <div class="example-container">
                                        <mat-form-field [color]="primary" class="col-sm-6">
                                            <mat-label>USERNAME</mat-label>
                                            <input matInput formControlName="username">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6">
                                            <mat-label>PASSWORD</mat-label>
                                            <input matInput type="password" formControlName="password">
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-9">
                                                <mat-label>Security Question</mat-label>
                                                <mat-select formControlName="question">
                                                  <mat-option *ngFor="let question of questions" [value]="question">
                                                    {{question}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                              <mat-form-field class="col-sm-3">
                                                    <mat-label>ANSWER</mat-label>
                                                    <input matInput formControlName="answer">
                                                </mat-form-field>
                                    </div>
                                </form>
                                <div class="card-footer">
                                        <p> By checking the box below, you agree that Shop Systems Corporation ("Shop"), a company based in the United States of America, may control and process your UserWeb data for the purposes described in the UserWeb Privacy Policy. The types of data collected as you access the UserWeb or UserWeb-connected sites are listed in the UserWeb Privacy Policy. If you do not wish to consent to such data control and processing, please reach out to your Shop representative for assistance.
                                                You are not legally or contractually obligated to provide your UserWeb data to Shop. Even if you give your consent by checking this box, you may later withdraw your consent by emailing Shop at userwebsupport@shop.com. If you do not give your consent to use of your UserWeb data, or you withdraw your consent, you may not be able to use the UserWeb or UserWeb-connected sites.
                                 </p>
                                 <input style="position:center"type="checkbox" > I agree to these terms.
                                </div>
                                <br>
                                <button mat-raised-button (click)="signUp()" class="col-sm-12"><i>Submit</i></button>&nbsp;&nbsp;   
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



