<div class="row">
  <div class="col">
    <h6 style="color:rgb(0, 102, 178)!important">Service Payment Estimation</h6>
    <hr style=" border-top: 1px solid rgb(0, 102, 178); ">
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <label>Transaction ID:{{this.restsctn2.subscriber_id }}</label>
  </div>
  <div class="col-sm-4">
    <label>Total Billed:{{this.restsctn2.total_billed_amt| currency}}</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <label>Total Discount:{{this.restsctn2.discount_percentage}}%</label>
  </div>
  <div class="col-sm-4">
    <label>Total Allowed:{{this.restsctn2.total_allowed_amt| currency}}</label>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <label>Total Paid to Provider:{{this.restsctn2.total_provider_pay_amt  | currency}}</label>
  </div>
  <div class="col-sm-4">
    <label>Member Responsiblity:{{this.restsctn2.total_member_responsibility| currency}}</label>
  </div>
</div>
<hr>
<table>

  <tr style=" background: rgb(230, 239, 246);">
    <th>Service</th>
    <th>CPT/HCPCS</th>
    <th>Diagonsis Code </th>
    <th>Billed</th>
    <th>Allowed</th>
    <th>Discount</th>
    <th>Pay to Provider</th>
    <th>Member responsiblity</th>
  </tr>
  <tr *ngFor="let item of restsctn2.services;index as i">
    <td>Service {{i+1}}</td>
    <td>{{item.procedure_code}}</td>
    <td>{{item.diagnosis_code_line}}</td>
    <td>${{item.billed_amount}}</td>
    <td>${{item.allowed_amt}}</td>
    <td>${{item.discount_amt}}</td>
    <td>${{item.provider_pay_amt}}</td>
    <td>${{item.member_responsibility}}</td>
  </tr>
  <!-- <tr>
                        <td>{{this.restsctn2.services[1].procedure_code}}</td> 
                        <td>{{this.restsctn2.services[1].diagnosis_code_line}}</td> 
                        <td>${{this.restsctn2.services[1].billed_amount}}</td> 
                        <td>${{this.restsctn2.services[1].allowed_amt}}</td>
                        <td>${{this.restsctn2.services[1].discount_amt}}</td> 
                        <td>${{this.restsctn2.services[1].provider_pay_amt}}</td> 
                        <td>${{this.restsctn2.services[1].member_responsibility}}</td> 
                      </tr> -->
</table>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-7">
    <button class="button button4">Cancel</button>&nbsp;&nbsp;
    <button (click)="submit()" class="button button4">Confirm</button>&nbsp;&nbsp;
  </div>
</div>
