     <div class="container-fluid" style="background-color:white;

     /* Full height */
     height: 100%; 
     
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;">
            <div class="row">
              <div class="col-sm-6">
                    <img  src="/assets/Capture.PNG" alt="Smiley face" height="100%" width="100%" top="20%">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-16">           
                    </div>
                  </div>
                </div>        
              </div>      
              <div class="col-sm-6" >
                    <br>
                    
                    <br>
                    <br>
                    <h4 class="text-center" ><b>Provider Sign In</b></h4>
                    <br>
                    <br>
                    <div class="center"  >         
                          <form [formGroup]="loginForm">
                                <div>
                                  <label style="color:rgb(147, 149, 164);font-size:15px">Username</label>
                                  <input type="text" class="form-control"formControlName="user" required>
                                </div>
                          
                                <div class="form-group">
                                  <label style="color:rgb(147, 149, 164);font-size:15px">Password</label>
                                  <input type="password" class="form-control" formControlName="password">
                                </div>
                                <div class="form-group">
                                        <button  class="form-control" mat-raised-button style="color:white" (click)="login()">Sign In</button>
                                      </div>
                              </form>
                              <div class="row" style="text-align: center;">
                                    <p style="width: 100%;">Don't have an account? <br><a style="color: rgb(0, 102, 178)" [routerLink]="['/signup','provider']">Sign-up</a>
                                    </p>
                                   
                                </div>
                              <div class="row" style="text-align: center;">
                                   &nbsp;&nbsp; <a style="color: rgb(0, 102, 178)"[routerLink]="['/forgot','forgot']" >Forgot Password?</a>
                                  </div>
                                
                              
                    </div> 
              </div>
            </div>
          </div>